:root {
  font-family: "EB Garamond", serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(31, 31, 31);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-image: url(./Bioinformatics-vs-computational-biology.jpg);
  background-size: 100%;
  min-width: 500px;
  min-height: 220px;

  background-repeat: repeat-y;
}

a {
  font-weight: 500;
  color: #f1f1f1;
  text-decoration: inherit;
}
button {
  color: white;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: 12px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border: transparent;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}
button:hover {
  color: gray;
} */
